@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="Admin" asp-action="Sync" method="get">
    <button type="submit" class="btn btn-outline">Sync Country List</button>
</form>

}

<form asp-controller="Admin" asp-action="SyncHolidays" method="post">
    <input type="hidden" name="year" value="@DateTime.Now.Year" />
    <button type="submit" class="btn btn-outline">Sync Holidays</button>
</form>
